<div class="row">
  <div class="col-sm-12 col-md-12">
    <div  ng-repeat="category in $ctrl.categories">
      <div class="panel panel-default">
          <div class="panel-heading clearfix">
              <h4 class="panel-title pull-left" style = "border-radius: 10%; ">
                  <a data-toggle="collapse" data-parent="#accordion" data-target ="#collapse{{category.short_name}}" href="#">{{category.name}} ({{ category.short_name}})
                  </a>

              </h4>
              
                
          </div>
          <div id="collapse{{category.short_name}}" class="panel-collapse collapse in">
              <div class="panel-body">
                  <div class="card text-center">
                    <div class="card-header">
                      <a ui-sref="items({category_id: category.short_name})">{{ category.short_name}}</a>

                    </div>
                    <div class="card-block">
                      <h4 class="card-title">{{category.name}}</h4>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th></th>
                              <th>Name</th>
                              <th>Special Instructions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><a ui-sref="items({category_id: category.short_name})"><img class="card-img-top" ng-src="images/menu/{{category.short_name}}/{{category.short_name}}.jpg"></a> </td>
                              <td><h3><a ui-sref="items({category_id: category.short_name})">{{category.name}}</a></h3></td>
                              <td><h3>{{category.special_instructions}}</h3></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!--<button class="btn btn-danger"  ng-click="menu.onRemove({index: $index});">Remove</button>-->
                    </div>
                    <br>
                    <div class="card-footer text-muted">
                      <span class="glyphicon glyphicon glyphicon-cutlery"></span><span class="label label-warning">{{category.id}}</span>
                    </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>